<div class="col-xs-12 post-index-title">
	<h1>Edit <%= resource_name.to_s.humanize %></h1>
</div>

<%= link_to "Back", :back, :class=>"btn btn-primary", :id=>"create-button" %>

<br />
<br />

<div class="col-xs-12">
	<div class="col-xs-offset col-xs-11">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>
	
		<div class="form-group">
	    <%= f.label :first_name %><br />
	    <%= f.text_field :first_name, :class=>"form-control" %>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :last_name %><br />
	    <%= f.text_field :last_name, :class=>"form-control" %>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :username %><br />
	    <%= f.text_field :username, :class=>"form-control" %>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, :class=>"form-control" %>
	  </div>
	  
	  <div class="form-group">
	    <%= f.label :avatar %><br />
	    <%= f.file_field :avatar %>
	    <!-- <%= image_tag current_user.avatar.url(:thumb) %> -->
	  </div>
	
	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div class="form-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>
	
	  <div class="form-group">
	    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
	    <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
	  </div>
	
	  <div class="form-group">
	    <%= f.label :password_confirmation %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
	  </div>
	
	  <div class="form-group">
	    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
	    <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control" %>
	  </div>
	
	  <div class="form-group">
	    <%= f.submit "Update", :id => 'submit-edit-user-devide', :class=>"btn btn-success" %>
	  </div>
	<% end %>

	</div>
	<div class="col-xs-12 pad">
		<h3>Cancel my account</h3>
		<p id="user">Unhappy?</p>
			<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :id => 'submit-cancel-user-devide', :class=>"btn btn-danger" %>
	</div>
</div>
