<div class="col-xs-12 post-index-title">
	<h1>Register (Sign Up)</h1>
</div>

<%= link_to("Back to Home Page", posts_path, :class=>"btn btn-primary", :id=>"create-button")%>
<br/>
<br/>

<div class="col-xs-12">
	<div class="col-xs-offset col-xs-11">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		
			<div class="form-group">
		    <%= f.label :first_name %><br />
		    <%= f.text_field :first_name, autofocus: true %>
		  </div>
		  
		  <div class="form-group">
		    <%= f.label :last_name %><br />
		    <%= f.text_field :last_name %>
		  </div>
		  
		  <div class="form-group">
		    <%= f.label :username %><br />
		    <%= f.text_field :username %>
		  </div>
		  
		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email %>
		  </div>
		  
		  <div class="form-group">
		    <%= f.label :avatar%><br />
		    <%= f.file_field :avatar %>
		  </div>
		
		  <div class="form-group">
		    <%= f.label :password %>
		    <% if @minimum_password_length %>
		    <em>(<%= @minimum_password_length %> characters minimum)</em>
		    <% end %><br />
		    <%= f.password_field :password, autocomplete: "off" %>
		  </div>
		
		  <div class="form-group">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off" %>
		  </div>
		
		  <div class="actions">
		    <%= f.submit "Sign up", :class=>"btn btn-primary" %>
		  </div>
		<% end %>
		
		<%= render "devise/shared/links" %>
	</div>
</div>
