<div class="col-xs-offset-1 col-xs-10 post-space comment-space">
	<h3 class="post-data">Author: <%= comment.author %>, Posted at: <%= comment.created_at %></h3>
	<div class="post-content">
		<p><%= comment.content %></p>
	</div>
</div>