<div class="form-group">
	<%= f.label(:author, "Author")%>
	<%= f.text_field(:author, :class=>"form-control") %>
</div>

<div class="form-group">
	<%= f.label(:content, "Content")%>
	<%= f.text_area(:content, :class=>"form-control") %>
</div>
