if ( $('#comments-sq').css('display') == 'none' ){
    $('#comments-sq').fadeToggle();
}
$('#comments-sq').prepend("<%= j render @comment %>");
$('#comment_author').val("");
$('#comment_content').val("");
