
<div class="form-group">
	<%= f.label(:first_name, "First name")%>
	<%= f.text_field(:first_name, :class=>"form-control") %>
</div>
	
<div class="form-group">
	<%= f.label(:last_name, "Last name")%>
	<%= f.text_field(:last_name, :class=>"form-control") %>
</div>
	
<div class="form-group">	
	<%= f.label(:username, "Username")%>
	<%= f.text_field(:username, :class=>"form-control") %>
</div>

<div class="form-group">	
	<%= f.label :avatar %><br />
	<%= f.file_field :avatar %>
    <%= image_tag @user.avatar.url(:thumb) %>
</div>
	
<div class="form-group">
	<%= f.label(:email, "Email")%>
	<%= f.text_field(:email, :class=>"form-control") %>
</div>
	
<div class="checkbox">
	<label>
		<%= f.check_box(:admin) %>
		Is Admin?
	</label>
</div>

<div class="form-group">	
	<%= f.label(:password, "Password")%>
	<%= f.password_field(:password, :class=>"form-control") %>
</div>
	
<div class="form-group">	
	<%= f.label(:password_confirmation, "Password confirmation")%>
	<%= f.password_field(:password_confirmation, :class=>"form-control") %>
</div>