<div class="col-xs-12 post-index-title">
  <h1 class="page_title">Delete User</h1>
</div>

<div class="col-xs-12"  id="create-button">
	<%= link_to("<< Back to user index", users_path, :class => 'btn btn-danger') %>
</div>

<div class="col-xs-12"  id="create-button">
	<h2>Delete User</h2>
	
	<%= form_for(:user, :url => user_path, :html => { :method => :delete }) do |f| %>
	<table class ="table table-bordered table-hover" summary="Subject detail view">
		<tr>
			<th>Username</th>
			<td><%= @user.username %><td>
		</tr>
	</table>
	
	<div class="form-buttons pad">
		<p id="user">Are you sure you want to delete the above user</p>
		<%= submit_tag("Delete user" , :id=> 'submit-cancel-user-devide', :class=>"btn btn-danger") %>
	</div>
	<% end %>
</div>