<div class="col-xs-12 post-index-title">
	<h1>Edit User</h1>
</div>

<%= link_to("Admin Section", users_path, :class => 'btn btn-primary', :id=>"create-button") %>

<div class="col-xs-12 user_create">
	<div class="col-xs-12">
		<h2>Edit user</h2>
	</div>
	
	<div class="col-xs-10">
		<%= form_for(:user, :url => user_path, :html => {:method => :put}) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f})%>
		
		<div class="form-buttons pad">
			<%= submit_tag "Update user", :class => 'btn btn-success'%>
		</div>
		<% end %>
	</div>
	
</div>