<div class="col-xs-12 post-index-title">
  <h1 class="page_title">Admin Index</h1>
</div>
<%= link_to("Back to posts", posts_path, :class => 'btn btn-primary', :id=>"create-button") %>
<br />
<%= link_to "+ Add user", new_user_path, :class => 'btn btn-success', :id=>"create-button" %>

<div class="col-xs-12 users_index">
	<div class="col-xs-12">
		<h2 class="page_subtitle">List</h2>
	</div>
	
	<div class="results-found"> <%= pluralize(@users.size, 'user') %> found </div>
	<div class="table-responsive">
		<table class ="table table-bordered table-hover footable" summary="Users list">
		<thead>
			<tr class="header">
				<th class="listing_header">Avatar</th>
				<th class="listing_header" data-hide="phone">First name</th>
				<th class="listing_header" data-hide="phone">Last name</th>
				<th class="listing_header">Username</th>
				<th class="listing_header" data-hide="phone">Email</th>
				<th class="listing_header" data-hide="phone">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr class= "<%= cycle('impar', 'par')%> id="joder">
				<td class ="listing_def"><%= image_tag user.avatar.url(:xsmall) %></td>
				<td class ="listing_def"><%= user.first_name %></td>
				<td class ="listing_def"><%= user.last_name %></td>
				<td class ="listing_def"><%= user.username %></td>
				<td class ="listing_def"><%= user.email %></td>
				<td class="actions">
					<%= link_to "Edit user", edit_user_path(:id => user.id), :class => 'action edit' %>
					<%= link_to("Delete user", delete_user_path(user.id), :class => 'action delete')%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	  
	</div>
</div>