<div class="col-xs-12 post-index-title">
	<h1>Create User</h1>
</div>

<div class="col-xs-12"  id="create-button">
	<%= link_to("< Back to List", users_path, :class => 'btn btn-danger') %>
</div>

<div class="col-xs-12 user_create">
	<div class="col-xs-12">
		<h2>Add user</h2>
	</div>
	
	<div class="col-xs-10">
		<%= form_for(:user, :url => users_path) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f})%>
	
		<div class="form-buttons pad">
			<%= submit_tag("Add user", :class => 'btn btn-success')%>
		</div>
		<% end %>
	</div>
</div>
