<div class="col-xs-12 post-index-title">
	<h1>Edit User</h1>
</div>

<%= link_to("Back to posts", posts_path, :class => 'btn btn-primary', :id=>"create-button") %>

<div class="col-xs-12 user_create">
	<div class="col-xs-12">
		<h2>Edit user</h2>
	</div>
	
	<div class="col-xs-10">
		<%= form_for(:user, :url => notifications_edit_user_path, :html => {:method => :put}) do |f| %>
		
		<div class="checkbox">
			<label>
				<%= f.check_box(:email_when_comment_made) %>
				Receive an email notification when a comment is made on your posts?
			</label>
		</div>
		
		<div class="checkbox">
			<label>
				<%= f.check_box(:email_when_following_posts) %>
				Receive an email notification when followed author makes a new post
			</label>
		</div>
		
		<div class="form-buttons pad">
			<%= submit_tag "Update user", :class => 'btn btn-success'%>
		</div>
		<% end %>
	</div>
	
</div>