<div class="col-xs-12 post-index-title">
	<h1>Subscriptions</h1>
</div>

<%= link_to("Back to posts", posts_path, :class => 'btn btn-primary', :id=>"create-button") %>

<div class="">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 subscription-details">
			<div class="col-xs-12">
				<%= image_tag @user.avatar.url(:medium), :class => "img-responsive" %>
			</div>
			<div class="col-xs-12 follow-info">
				<div class="col-xs-6">
					<p>Followers:</p>
					<%= link_to @user.followers.count, followers_follow_path(@user.id) %>
				</div>
				<div class="col-xs-6">
					<p>Following:</p>
					<%= link_to @user.followed_users.count, following_follow_path(@user.id) %>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 subscription-details custom-collapse">
			<section>
				<button class="collapse-toggle visible-xs btn btn-default detail-button" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-collapse" id="ogi">
				   <span class="ogi2">Show Details</span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				</button>
				<ul class="list-group collapse" id="side-menu-collapse">
				<% @posts.each do |post| %>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm-12">
								<h2 class="post-author"><%= post.author %></h2>
							</div>
							<div class="col-sm-12">
								<%= link_to post.title, post_path(post.id) %>
								<p>Posted at: <%= l post.created_at, :format => :short %></p>
							</div>
						</div>
					</li>
				<% end %>
				</ul>
			</section>
		</div>
	</div>
</div>

