<div class="col-xs-12 post-index-title">
	<h1>Change your password</h1>
</div>

<div class="col-xs-12">
	<div class="col-xs-offset col-xs-11">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>
	
	  <div class="form-group">
	    <%= f.label :password, "New password" %><br />
	    <% if @minimum_password_length %>
	      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
	    <% end %>
	    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
	  </div>
	
	  <div class="form-group">
	    <%= f.label :password_confirmation, "Confirm new password" %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "off" %>
	  </div>
	
	  <div class="form-group">
	    <%= f.submit "Change my password", :class => "btn btn-primary" %>
	  </div>
	<% end %>
	
	<%= render "devise/shared/links" %>
	</div>
</div>
