<div class="col-xs-12 post-index-title">
	<h1>Forgot Password</h1>
</div>

<div class="col-xs-12">
	<div class="col-xs-offset col-xs-11">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>
		
		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true %>
		  </div>
		
		  <div class="form-group">
		    <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
		  </div>
		<% end %>
		
		<%= render "devise/shared/links" %>
	</div>
</div>


