<div class="col-xs-12 post-index-title">
	<h1>Log in</h1>
</div>

<%= link_to("Posts", posts_path, :class=>"btn btn-primary", :id=>"create-button")%>
<br />
<br />
<div class="col-xs-12">
	<div class="col-xs-offset col-xs-11">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
		  </div>
		
		  <div class="form-group">
		    <%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
		  </div>
		
		  <% if devise_mapping.rememberable? -%>
		    <div class="form-group field-rememberme">
		    	<%= f.label :remember_me %>
		      <%= f.check_box :remember_me %>
		    </div>
		  <% end -%>
		
		  <div class="actions">
		    <%= f.submit "Log in", :id => 'submit-cancel-user-devide', :class=>"btn btn-success" %>
		  </div>
		<% end %>
	</div>
	<div class="col-xs-12 pad">
		<%= render "devise/shared/links" %>
	</div>
</div>

