<%= button_to "Unfollow", follow_path(@post, :follower_id => @user.id, :followed_user_id => @post.user_id, :post_id => @post.id), :class=>"btn btn-warning", :id=>"unfollow-btn", remote:true, :method => :delete %>