<div class="col-xs-12 post-index-title">
	<h1>Subscriptions</h1>
</div>

<%= link_to("Back to posts", posts_path, :class => 'btn btn-primary', :id=>"create-button") %>


<div class="">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 subscription-details">
			<div class="col-xs-12">
				<%= image_tag @user.avatar.url(:medium), :class => "img-responsive" %>
			</div>
			<div class="col-xs-12 follow-info">
				<div class="col-xs-6">
					<p>Followers:</p>
					<%= link_to @user.followers.count, followers_follow_path(@user.id) %>
				</div>
				<div class="col-xs-6">
					<p>Following:</p>
					<%= link_to @user.followed_users.count, following_follow_path(@user.id) %>
				</div>
			</div>
			<div class="col-xs-12">
				<h3>Following:</h3>
				<% @user.followed_users.each do |following| %>
					<%= image_tag following.avatar.url(:thumb) %>
				<% end %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 subscription-details custom-collapse">
			<section>
				<button class="collapse-toggle visible-xs btn btn-default detail-button" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-collapse" id="ogi">
				   <span class="ogi2">Show Details</span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				</button>
				<ul class="list-group collapse" id="side-menu-collapse">
				<% @following.each do |followed| %>
					<li class="list-group-item follower-detail">
						<div class="row followers">
							<div class="col-xs-4">
								<%= image_tag followed.avatar.url(:xsmall), :class=>"img-responsive" %>
							</div>
							<div class="col-xs-4">
								<p>User Name: <%= link_to followed.username, user_path(followed.id) %></p>
								<p>Number of Posts: <%= followed.posts.count %><p>
							</div>
							<div class="col-xs-4" >
								<% if current_user.id == @user.id %>
									<% if @subscribed == false %>
											<%= button_to "Follow", follows_path(:follower_id => @user.id, 
												:followed_user_id => followed.id), 
													:class=>"btn btn-info", :id=>"follow-btn", remote:true %>
									<% else %>
							        		<%= button_to "Unfollow", follow_path(followed, :follower_id => @user.id, 
							        			:followed_user_id => followed.id), 
							        				:class=>"btn btn-warning", :id=>"unfollow-btn", 
							        					:method => :delete %>
							    	<% end %>
						    	<% end %>
							</div>
						</div>
					</li>
					<% end %>
				</ul>
			</section>
		</div>
	</div>
</div>