<div class="col-xs-12 post-index-title">
	<h1>Subscriptions</h1>
</div>

<%= link_to("Back to posts", posts_path, :class => 'btn btn-primary', :id=>"create-button") %>


<div class="">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 subscription-details">
			<div class="col-xs-12">
				<%= image_tag @user.avatar.url(:medium), :class => "img-responsive" %>
			</div>
			<div class="col-xs-12 follow-info">
				<div class="col-xs-6" id="clickable">
					<p>Followers:</p>
					<%= link_to @user.followers.count, followers_follow_path(@user.id) %>
				</div>
				<div class="col-xs-6">
					<p>Following:</p>
					<%= link_to @user.followed_users.count, following_follow_path(@user.id) %>
				</div>
			</div>
			<div class="col-xs-12">
				<h3>Followers:</h3>
				<% @user.followers.each do |follower| %>
					<%= image_tag follower.avatar.url(:thumb) %>
				<% end %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 subscription-details custom-collapse">
			<section>
				<button class="collapse-toggle visible-xs btn btn-default detail-button" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-collapse" id="ogi">
				   <span class="ogi2">Show Details</span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				</button>
				<ul class="list-group collapse" id="side-menu-collapse">
				<% @followers.each do |follower| %>
				<li class="list-group-item follower-detail">
					<div class="row followers">
						<div class="col-xs-4 col-sm-4">
							<%= image_tag follower.avatar.url(:xsmall), :class => "img-responsive" %>
						</div>
						<div class="col-xs-4 col-sm-4">
							<p>User Name: <%= link_to follower.username, user_path(follower.id) %></p>
							<p>Number of Posts: <%= follower.posts.count %><p>
						</div>
					</div>
				</li>
				<% end %>
				</ul>
			</section>
		</div>
	</div>
</div>
