

<div class="form-group">
	<%= f.label(:author, "Author")%>
	<%= f.text_field(:author, :readonly => :true, :class=>"form-control") %>
</div>	

<div class="form-group">
	<%= f.label(:title, "Title")%>
	<%= f.text_field(:title, :class=>"form-control") %>
</div>	
	
<div class="form-group">
	<%= f.label(:content_type, "Content type")%>
	<%= f.text_field(:content_type, :class=>"form-control") %>
</div>	
	
<div class="form-group">
	<%= f.label(:content, "Content")%>
	<%= f.text_area(:content, :id=>"comment_content", :class=>"form-control") %>
</div>

<div class="form-group">
	<%= f.label(:pictures, "Image")%>
	<%= f.file_field :images, multiple: true, name: "images[]" %>
</div>			

