<div class="row" >
	<div class="col-sm-10 col-sm-offset-1 post-space">
		<div class="col-sm-2 col-xs-12 header">
			<%= image_tag post.user.avatar.url(:small), :class =>"img-responsive col-xs-5 col-sm-12" %>
			<h2 class="post-author"><%= post.author %></h2>
			<p class="date-joined">Joined on: <%= l post.user.created_at, :format => :short %>
				<br/>Posts: <%= post.user.posts.count %>
			</p>
		</div>
		<div class="col-sm-10">
			<h3 class="post-title"><%= post.title %></h3>
			<p class="post-content"><%= post.content %></p>
		</div>
		<div class="col-sm-12" id="post-links">
			<ul class="nav nav-pills navbar-right">
				<li role="presentation"><%= link_to("Show Post", post_path(post.id), :class => 'action show')%></li>
				<% if (user_signed_in? && post.author == @user.username) || (user_signed_in? && @user.admin)%>
					<li role="presentation"><%= link_to("Edit", edit_post_path(post.id), :class => 'action edit')%></li>
					<li role="presentation"><%= link_to("Delete", delete_post_path(post.id), :class => 'action delete')%></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>