<div class="col-xs-12 post-index-title">
	<h1>Delete a post</h1>
</div>

<div class="col-xs-12"  id="create-button">
	<%= link_to("<<Back to list", posts_path, :class => 'btn btn-danger') %>
</div>

<div class="col-xs-12 post create">
	<div class="col-xs-12">
		<h2>Delete Post</h2>
	</div>
	<div class="col-xs-10">
		<%= form_for(:post, :url => post_path(@post.id), :html => { :method => :delete }) do |f| %>
		<table class ="table table-bordered table-hover" summary="Subject detail view">
			<thead>
				<tr class="header">
					<th>Title</th>
					<td><%= @post.title %><td>
				</tr>
				<tr>
					<th>Author</th>
					<td><%= @post.author %><td>
				</tr>
			</thead>
		</table>

		<div class="form-buttons pad">
			<p id="user">Are you sure you want to delete</p>
			<%= submit_tag("Delete Post", :class=>"btn btn-danger") %>
		</div>
		<% end %>
	</div>
</div>