<div class="col-xs-12 post-index-title">
	<h1>Edit Post</h1>
</div>

<div class="col-xs-12"  id="create-button">
	<%= link_to("<< Back to List", posts_path, :class => 'btn btn-danger') %>
</div>

<div class="col-xs-12 user_create">
	<div class="col-xs-12">
		<h2>Edit Post</h2>
	</div>
	
	<div class="col-xs-10">
		<%= form_for(@post) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f})%>
		
		<div class="form-buttons pad">
			<%= submit_tag("Update post", :class => 'btn btn-success')%>
		</div>
		<% end %>
	</div>
</div>
