page = $('<%= j render(@posts) %>').hide().fadeIn(500);
$('#posts').append(page)
<% if @posts.next_page %>
	$('.pagination').replaceWith('<%= j will_paginate(@posts) %>')
<% else %>
	$('.pagination').remove()
<% end %>
