<div class="col-xs-12 post-index-title">
	<h1>Posts Index</h1>
</div>

<%= link_to("Create new post", new_post_path, :class => "btn btn-primary", :id=>"create-button") %>

<div class="col-sm-12 post index">
	
	<div class="results-found"> <%= pluralize(@posts.size, 'post') %> found </div>
	
	<div id="posts">
		<%= render @posts %>
	</div>
	
	<%= will_paginate @posts %>
</div>

