<div class="col-xs-12 post-index-title">
	<h1>Create Post</h1>
</div>

<div class="col-xs-12"  id="create-button">
	<%= link_to("<< Back to List", posts_path, :class => 'btn btn-danger') %>
</div>

<div class="col-xs-12 post create">
	<div class="col-xs-12">
		<h2>Create Post</h2>
	</div>
	<div class="col-xs-10">
		<%= form_for(:post, :url =>  posts_path, :html => { :method => :post, multipart: true}) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f})%>
	
	<div class="form-buttons pad">
		<%= submit_tag("Create post", :class=> "btn btn-success")%>
	</div>
	<% end %>
	</div>
</div>
