<div class="col-xs-12 post-index-title">
	<h1>Post Details</h1>
</div>


<%= link_to("Back to posts", posts_path, :class => 'btn btn-primary', :id=>"create-button") %>
<br />
<br />

<div class="post details">
	<div class="col-xs-offset-1 col-xs-11">
	<h2>Post</h2>
	</div>
	<section>
		<div class="col-sm-offset-1 col-sm-10 post-space">
			<div class="col-xs-12 col-sm-12 header">
				<div class="col-xs-5 col-sm-3">
					<%= image_tag @post.user.avatar.url(:small), :class =>"img-responsive" %>
				</div>
				<div class="col-xs-7 col-sm-7">
					<h3 class="post-title"><%= @post.title %></h3>
					<div>
						<h3 class="date-joined">Author: <%= @post.author %>, Posted at: <%= l @post.created_at, :format => :short %>,</h3>
					</div>
				</div>
			</div>
			<div class="post-content-show">
				<p><%= @post.content %></p>
			</div>
			<div class="post-content-show">
				<% @post.pictures.each do |p| %>
					<%= image_tag p.image.url(:thumb) %>
				<% end %>
			</div>
		</div>
	</section>
	<section>
		<div class="col-xs-offset-1 col-xs-11">
		<h2><%= link_to "Comments", "#", :id=>"comments-link" =%></h2>
		</div>
		<div class="col-xs-offset-1 col-xs-11">
			<h3>Leave a comment</h3>
		</div>
		<div class="col-xs-offset-1 col-xs-10">
			<%= form_for(:comment, :url => post_comments_path(@post), remote:true, :html => {:method => :post}) do |f| %>
	
				<%= render(:partial => "comments/form", :locals => {:f => f})%>
		
				<div class="form-buttons">
					<%= submit_tag("Create comment", :class => 'btn btn-default' ) %>
				</div>
			<% end %>
		</div>
		<div div class="col-xs-offset-1 col-xs-11 pad" id="follow">
			<% if user_signed_in? %>
				<% if  @user.id != @post.user_id %>
					<% if @subscribed == false %>
							<%= render :partial=>"follows/follow" %>
					<% else %>
			        		<%= render :partial=>"follows/unfollow" %>
			    	<% end %>
			    <% end %>
			<% end %>
	    </div>
		<div id="comments-sq">
			<% @post.comments.order("created_at DESC").each do |comment| %>
				<%= render comment %>
			<% end %>
		</div>
	</section>
</div>

