$verde-chillon: #00CCFF;
$verde-oliva: #336666;
$naranja-medio: #FF9933; 
$blanco: #FFFFFF;
$arena: #CC9966;
$verde-amarillo: #CCFF99;
$plomo: #333;

.comment-space{
  //background-color: $arena;
  margin: 0 auto;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
  word-wrap: break-word;
}

#comments-sq{
  display:none;
}
