.pad{
  padding-top:30px;
  padding-bottom:30px;
}

.followers{
  margin-bottom: 20px;
}

.subscription-details{
  margin-top: 20px;
}

.followers-following{
  margin-top: 10px;
}

.follow-info{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .custom-collapse .collapse{
    display:block;
  }
}

@media screen and (max-width: 768px) {
  .follower-detail{
    height: 120px;
  }
}

.detail-button{
  margin-left: 15px; 
}

