$green: #336666;
$sand: #CC9966;
$lead: #333;
$grey: #F8F8F8 ;

#body{
  background-color: $grey;
}

.head {
  background-color: $green;
  background-position:center center;
  background-size:cover;
  height: 80px;
  position: relative;
  
  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

.username{
    padding: 14px 16px;
    color: white;
}

.post-author{
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.date-joined{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-default {
  //background-color: $lead !important;
  //border-color: $lead !important;
  margin-bottom: 0 !important;
  .navbar-nav#nav-links > li > a {
    //color: $sand;
  }
  
  .navbar-nav#nav-links > li > a:hover:not(.active) {
    //background-color: white;
    background-color: $grey;
  }
  
}


.post-space{
  //background-color: $sand;
  margin-bottom: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 10px;
  border: 1px solid #ddd;
  border-left : white;
  border-right: white;
  //border-color:$lead;
  word-wrap: break-word;
  
  .post-data {
    font-size: 16px;
  }
}

.post-title{
  padding: 5px 0 0 0px;
  color: $lead;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 0px;
}


.post-content{
  padding: 0px 50px 0px 15px;
  margin-bottom: 0px;
  color: $lead;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  font-size: 12px;
  overflow: auto;
}

.post-content-show{
  padding: 0px 50px 0px 30px;
  margin-bottom: 20px;
  color: $lead;
  font-family: 'Roboto Condensed', sans-serif;
}

#post-links{
  //background-color: $lead;
  li > a {
    //color: $sand;  
  }
}

.post-index{
  //background-color:$green;
  background-color:white;
  padding:0 !important;
}

.post-index-title{
  //background-color:$sand;
  width: 100%;
  height:50px;
  border-style: solid;
  border-color:$lead;
  margin-top:20px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
  h1 {
    font-size: 25px;
    transform: translateY(-50%);
  }
}

#create-button{
  margin-left: 20px;
  margin-top: 30px
}

.results-found{
  text-align: center;
  font-size: 22px;
  padding-bottom: 20px;
  padding-top: 10px
}

.post-data{
  padding: 5px 0 0 20px;
  color: $lead;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.header{
  background: $grey;
  margin-bottom: 8px;
}
@media screen and (max-width: 750px){
  

}





