#user{
  font-size: 20px;
}

div tbody tr {
  
  td.listing_def {
    vertical-align: middle;
  }
  
  td.actions {
    vertical-align: middle;
  }
}

.list-group{
  
  li.list-group-item{
    border-left-color: white;
    border-right-color: white;
  }
  
}
