<!DOCTYPE html>
<html>
<head>
  <title>RailsAgendaApp</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
	<p>Hello, <%= current_user.username %></p>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<%= link_to "Edit account", edit_user_registration_path %>
	<%= link_to "Subscriptions", follow_path %>
	<% else %>
	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <% end %>
     <% if !flash[:notice].blank? %>
	     <div class="notice">
	     	<%= flash[:notice] %>
	     </div>
     <% end %>
<%= yield %>

</body>
</html>
